@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    --font-Playfair-Display: 'Playfair Display', serif;
    --font-Roboto: 'Roboto', sans-serif;
}

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: url('../../assets/background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

#global {
  min-height: 100vh;
  margin: 0;
  background: transparent;
  padding-top: 100px;
}